header {
    background-image: url("assets/image/headerBackgroundImg.png");
    /* padding-bottom: 135px; */
    border-bottom: 30px #D20A2E solid;
    background-repeat: no-repeat;
    background-size: cover;
}
.dinerName {
    color: #FDFBD4;
    font-family: "Elms Sans", sans-serif;
    font-size: 172px;
    font-weight: 400;
    text-shadow: 7px 4px #940721;
}
.dinerNameSub {
    color: #FDFBD4;
    text-shadow: 3px 2px #940721;
    font-size: 52px;
}
.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}
.headerButton {
    background-color: transparent;
    border: 0px solid;
    font-size: 18px;
}
.aboutCard {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10dvh;
    padding: 2%;
    line-height: 25px;
}
.descriptionCard {
    background-color: white;
    width: 50%;
    /* margin-left: 20%; */
    padding: 2%;
    line-height: 20px;
    flex-grow: 1;
}
.slogan {
    font-weight: 600;
    font-size: 24px;
}
.aboutHeader {
    width: 70%;
    margin-left: 18%;
    display: flex;
    gap: 50px;
    font-size: 52px;
    font-family: "Elms Sans", sans-serif;
    
}
.rosieRiveter {
    height: auto;
    width: 18%;
    outline: 6px #40E0D0 ridge;
    float: left;
    margin-right: 13px;
}
.menuButton {
    padding: 1dvw;
    outline: 8px #D20A2E ridge;
}
.rosieMenu {
    font-family: 'Brush Script MT', cursive;
    font-size: 32px;

}
.descriptionContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    gap: 5%;
}
.menuItemContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10dvh;
}
.menuItemDisplay {
    background-color: white;
    width: 30%;
    height: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.menuItemIcon {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-bottom: 4px #36454F ridge;
}
.themeContainer {
    display: flex;
    transform: translateY(-25px);
    gap: 2px;
}
.footerButton{
    /* width: 6%; */
    height: 20px;
    /* background-color: white; */
    color: black;
}
.rosie {
    width: 35%;
}
#expandAbout {
    font-weight: 600;
}
#expandAbout:hover {
    text-decoration: underline solid;
}


@media (max-width: 850px) {
    .dinerName {
        font-size: 100px;
    }
    .dinerNameSub {
        font-size: 24px;
    }
    .menuItemContainer {
        flex-direction: column;
        gap: 25px;
    }
    .menuItemDisplay {
        width: 100%;
    }
    .rosieRiveter {
        width: 50%;
    }
    .descriptionContainer {
        flex-direction: column;
        gap: 25px;
    }
    .descriptionCard {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .dinerName {
        font-size: 60px;
    }
    .dinerNameSub {
        font-size: 12px;
    }
}
