 *{
    margin: 0;
 }
 #BodyWody{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }
.product-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 10px;
    border-radius: 5px;
    /* scroll-behavior: auto; */
}
#test{
    display: flex;
    flex-wrap: wrap;
    background-color: #FDFBD4;
}
nav{
    /* display: flex; */
    background-color: #D20A2E;
    justify-content: center;
    align-items: center;
    /* flex-direction: row-reverse; */
}
.ImgSmall{
    width: 100px;
    height: auto;
}