 *{
    margin: 0;
 }
 #BodyWody{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }
.product-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 10px;
    border-radius: 5px;
    /* scroll-behavior: auto; */
    overflow: auto;
}
#test{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #FDFBD4; */
}
nav{
    /* display: flex; */
    background-color: #D20A2E;
    justify-content: center;
    align-items: center;
    /* flex-direction: row-reverse; */
}
.ImgSmall{
    width: 100px;
    height: auto;
}



/* CHECKOUT WILL EDIT SOON */
        /* Cart modal */
.cart-count{
 background: #39b5b7;
 color: #fff;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 display: inherit;
 align-items: center;
 justify-content: center;
 justify-self: end;
 font-size: 12px;

}
#shoppingBtn{
    display: flex;
    justify-self: end;
}
.cartModal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* Cart box */
.cartBox {
    border-radius: 2px;
    background: white;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    border: 1px solid black;
}

/* Header */
.cart-header {
    padding: 20px;
    background-color: #D20A2E;
    color: antiquewhite;
    display: flex;

    justify-content: space-between;
    align-items: center;
}
#closeBtn{
    
}

/* Summary */
.cartSummary-row {
    display: flex;
    justify-content: space-between;
}

/* Checkout button */
.checkoutBtn {
    width: 100%;
}
#Filter{
    width: 300px;
    height: 100vh;
    background-color: blanchedalmond;
}