* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cherryRed {
    background-color: #D20A2E;
}
.cream {
    background-color: #FDFBD4;
}
.turquoise {
    color: #40E0D0;
}
.charcoal {
    color: #36454F;
}
.white {
    color: #EEEEEE;
}
.silver {
    color: #C0C0C0;
}
.hoverUnderline {
    text-decoration: none;
}
.hoverUnderline:hover {
    text-decoration: underline;
    cursor: pointer;
}
.flexColCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    display: flex;
    
}
.charBorder {
    outline: 8px #36454F ridge;
}
footer {
    padding: 20px;
    background-color: rgba(125, 125, 125, .5);
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.themeLight {
    background: repeating-linear-gradient(to right, #FDFBD4, #FDFBD4 30px, #e6e4c1 30px, #e6e4c1 60px);
}
.themeDark {
    background: repeating-linear-gradient(to right, #3d3c4d, #3d3c4d 30px, #2c2b36 30px, #2c2b36 60px);
}
.themeLightText {
    color: #36454F;
    text-shadow: 1px 1px #232d34;
}
.themeDarkText {
    color: #e1e0c1;
    text-shadow: 1px 1px #b6b497;
}
#themeSwitchButton {
    color: rgb(50, 0, 0);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transform: translateY(-23px);
    margin-left: 5px;
    
}
#themeSwitchButton:hover {
    text-decoration: underline solid;
}
.darkBackground {
    background-color: #d1cfc9;
}